<% content_for :title, "Editing comment" %>

<h1>Editing comment</h1>

<%= render "form", blog_comment: @blog_comment %>

<br>

<div>
  <%= link_to "Back to post", blog_post_path(@blog_comment.post) %>
</div>
