<p style="color: green"><%= notice %></p>

<% content_for :title, "Comments" %>

<h1>Comments</h1>

<div id="blog_comments">
  <% @blog_comments.each do |blog_comment| %>
    <%= render blog_comment %>
    <%= link_to "Edit", edit_blog_comment_path(blog_comment) %>
  <% end %>
</div>

<%= link_to "New comment", new_blog_comment_path %>
